@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #1890FF;
    --primary-hover-color: #0984f6;
    --dark-color: #263238;
    --secondary-color: #E6F7FF;
    --light-color: #F5F5F5;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}